@import "bulma/bulma.sass";

body {
  margin: 0;
  padding: 0;
   background-color: #353535;
  min-height: 100vh;

  color: white;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  width: 900px;
  padding: 40px 0;
  margin: 0 auto;

  .title, .subtitle, .field-label label {
    color: #fff;
  }

  h1.title {
    margin-bottom: 0;
  }

  h2.title {
    margin-bottom: 20px;
  }



}


canvas {
  border-radius: 1px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background: #2a2a2a;
}

.canvasWrp {
  position: relative;

  &:before, &:after {
    display: block;
    position: absolute;
    font-size: 12px;
    color: #fff;
    font-family: monospace;
  }

  &:before {
    top: calc(100% );
    left: 100%;
    content: '900';
  }
  &:after {
    top: 0;
    right: calc(100% + 10px);
    content: '400';
  }
}


.links {
  margin: 10px 0 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  a {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
    color: #90a4ae;
    &:hover {
      color: #cfd8dc;
    }
  }
}


.field-label {
  max-width: 30px;
}


.points {
  .field {
    &-label {
      padding-top: 0;
    }
    margin-bottom: 3px;
    input {
      font-size: 12px;
      background: #37474f;
      color: #eceff1;
      border-color: #263238;
    }
  }

  .addBtn {
    margin-top: 15px;
    margin-left: 54px;
    width: 175px;
    font-size: 13px;
    border-color: #039be5;
    color: #039be5;

  }
}

.settings {
  .field {
    // align-items: center;
    background: #eceff1;
    font-family: monospace;
    border-radius: 1px;
    line-height: 3;
    padding: 0 10px;

    &.range {
      .val {
        margin-left: auto;
        color: #37474f;
        display: inline-block;
      }
    }

    &.checkbox {
      .control {
        max-width: 30px;
      }
    }

    .inpWrp {
      display: flex;
      align-items: center;
      width: calc(100% - 50px);
    }

    .label {
      font-weight: normal;
      margin-bottom: 0;
      // display: inline-block;
    }
    // &:not(:last-child):after {
    //   content: ',';
    //   display: block;
    // }
    input.input {
      text-align: center;
      width: 50px;
      font-size: 13px;
      font-family: monospace;
      padding: 0;
      padding-top: 5px;
    }

    .control {
      display: flex;
      align-items: center;
      margin-left: 10px;
      width: 100%;
      input[type=range] {
        width: 100%;
      }
    }

    .checkbox {
      display: inline-flex;
      align-items: center;
      height: 100%;
    }
  }
}
